{% include "header.html" %}
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/history" enctype=multipart/form-data method="post">
    {{ form.csrf_token }}
    {{ wtf.form_field(form.filter) }}
    <input class="btn btn-primary" type=submit value="Filter it">
</form>

<table class="table table-striped">
    <tbody>
    <tr>
        <th>File name</th>
        <th>Upload time</th>
        <th>Documentation</th>
        <th></th>
    </tr>

    {% for row in rows %}
        <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>
                <form action="/get_doc_by_filename" enctype=multipart/form-data method="post">
                    <input type="hidden" id="filename_by_get" name="filename_by_get" value={{row.2}}>
                    <input class="btn btn-primary" type=submit value="Documentation">
                </form>
            </td>
            <td>
                <form action="/send_mail_by_filename" enctype=multipart/form-data method="post">
                    <input type="hidden" id="filename_by_send" name="filename_by_send" value={{row.2}}>
                    <input class="btn btn-primary" type=submit value="Send to email">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
